.column {
    float: left;
    width: 33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

html{
  background: #ff1493

}
#column{
  width:80%;
  background-color: #00bfff;
  font-family: inherit;
}


<a href="paris.jpg">
  <img src="paris.jpg" alt="Paris">
</a>
